<header class="bg-white dark:bg-dark-primary w-full">
  <nav class="container mx-auto px-4 md:px-8">
    <div class="flex justify-between items-center h-16 md:h-20">
      <!-- Logo -->
      <a data-route="/" class="nav-link">
        <div
          class="text-3xl md:text-4xl drop-shadow-md transition-transform duration-300"
        >
          <img
            src="/assets/foodora.PNG"
            alt="logo foodora"
            class="w-fit h-[65px] object-contain"
          />
        </div>
      </a>

      <!-- Desktop Links -->
      <div class="hidden md:flex items-center gap-10">
        <a
          data-route="/"
          class="nav-link text-[18px] font-medium text-primary dark:hover:text-primary"
          >Home</a
        >
        <a
          data-route="/src/pages/aboutpage.html"
          class="nav-link text-[18px] text-primary font-medium dark:hover:text-primary"
          >About Us</a
        >
        <a
          data-route="/src/pages/menupage.html"
          class="nav-link text-[18px] text-primary font-medium dark:hover:text-primary"
          >Menu</a
        >
      </div>
      <div>
        <button
          id="dark-desktop"
          class="hidden md:flex group cursor-pointer h-12 w-12 rounded-full border border-neutral-200 bg-white dark:bg-gray-800 items-center justify-center relative transition-colors duration-300"
        >
          <i
            id="moonIconDesktop"
            class="fa-solid fa-moon fa-xl text-yellow-400 absolute transition-opacity duration-300 ease-in-out"
          ></i>
          <i
            id="sunIconDesktop"
            class="fa-solid fa-sun fa-xl text-yellow-400 absolute transition-opacity duration-300 ease-in-out opacity-0"
          ></i>
        </button>
      </div>

      <!-- Mobile Menu Button -->
      <button
        id="mobile-menu-btn"
        class="md:hidden text-primary dark:text-white focus:outline-none"
      >
        <svg
          class="w-8 h-8"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="md:hidden hidden bg-white dark:bg-gray-900 border-t border-gray-200 dark:border-gray-700 absolute w-full"
  >
    <div class="flex flex-col gap-4 p-4">
      <a
        data-route="/"
        class="nav-link text-[18px] text-primary font-medium hover:text-blue-300 dark:hover:text-blue-400"
        >Home</a
      >
      <a
        data-route="/src/pages/aboutpage.html"
        class="nav-link text-[18px] text-primary font-medium hover:text-blue-300 dark:hover:text-blue-400"
        >About Us</a
      >
      <a
        data-route="/src/pages/menupage.html"
        class="nav-link text-[18px] text-primary font-medium hover:text-blue-300 dark:hover:text-blue-400"
        >Menu</a
      >
      <div class="mt-2 md:hidden">
        <button
          id="dark-mobile"
          class="group cursor-pointer h-12 w-12 rounded-full border border-neutral-200 bg-white dark:bg-gray-800 flex items-center justify-center relative transition-colors duration-300"
        >
          <i
            id="moonIconMobile"
            class="fa-solid fa-moon fa-xl text-yellow-400 absolute transition-opacity duration-300 ease-in-out"
          ></i>
          <i
            id="sunIconMobile"
            class="fa-solid fa-sun fa-xl text-yellow-400 absolute transition-opacity duration-300 ease-in-out opacity-0"
          ></i>
        </button>
      </div>
    </div>
  </div>
</header>
